@import './colors';
*{
    font-family: "Rubik", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    background-color: $lightGrayishViolet;
}
#leftColor{
    width: 420px;
    height: 500px;
    background: linear-gradient(to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 0 0 300px 300px;
    position: absolute;
    top: 0;
    left: -100px;
}
main{
    #centeredWhiteDiv{
        width: 130px;
        height: 20px;
        background-color: $white;
        position: relative;
        z-index: 3;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0 0 20px 20px;
    }
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 57%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #phone{
        width: 306px;
        padding: 0 9px 9px 9px;
        border-radius: 30px;
        background-color: $white;
        #user{
            background: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
            border-radius: 20px 20px 10px 10px;
            padding: 28px 16px 5px 16px;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 2;
            #userDetails{
                display: flex;
                align-items: center;
                width: 88%;
                margin-left: 5px;
                img{
                    display: block;
                    width: 40px;
                    height: 40px;
                    border: 1px solid $white;
                    border-radius: 50%;
                    margin-right: 4px;
                }
                h2{
                    color: $white;
                    font-size: 12px;
                }
                p{
                    color: $paleViolet;
                    font-size: 9px;
                }
            }
            #threeDots{
                .dot{
                    width: 2px;
                    height: 2px;
                    background-color: $white;
                    border-radius: 50%;
                    &:not(:first-child){
                        margin-top: 3px;
                    }
                }
            }
        }
        #phoneBody{
            background-color: $lightGrayishViolet;
            padding: 9px 9px 90px 9px;
            position: relative;
            z-index: 1;
            border-radius: 10px;
            width: 100%;
            top: -5px;
            overflow-y: scroll;
            max-height: 500px;
            .leftMessageContainer{
                display: flex;
                justify-content: flex-start;
                margin-top: 10px;
                .leftMessage{
                    background-color: hsl(277, 91%, 86%);
                    color: $moderateViolet;
                    padding: 9px;
                    font-size: 9px;
                    border-radius: 10px 10px 10px 5px;
                    max-width: 55%;
                }
                .leftRadio{
                    background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
                    display: flex;
                    align-items: center;
                    padding: 9px;
                    border-radius: 20px 20px 20px 10px;
                    input{
                        display: block;
                        margin-right: 10px;
                    }
                    p{
                        color: $white;
                        font-size: 9px;
                        margin-right: 10px;
                    }
                    h3{
                        color: white;
                    }
                }
            }

            .rightMessageContainer{
                display: flex;
                justify-content: flex-end;
                margin-top: 10px;
                .rightMessageImages{
                    display: flex;
                    img{
                        display: block;
                        width: 50px;
                        height: 50px;
                        border-radius: 10px;
                        margin-right: 10px;
                    }
                }
                .rightMessage{
                    background-color: $white;
                    color: $desaturatedDarkViolet;
                    padding: 9px;
                    font-size: 9px;
                    border-radius: 10px 10px 5px 10px;
                    max-width: 55%;
                }
            }
        }

        #userInputContainer{
            background-color: $white;
            position: fixed;
            bottom: 25px;
            left: 20px;
            width: 256px;
            padding: 8px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            input{
                display: block;
                width: 90%;
                margin-right: 15px;
                border: none;
                &:focus{
                    outline: none;
                }
            }
            #submit{
                background-color: $veryDarkDesaturatedViolet;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }


    #appDetails{
        width: 55%;
        h1{
            color: $veryDarkDesaturatedViolet;
            font-size: 1.625rem;
            font-weight: 500;
        }
        p{
            margin-top: 30px;
            color: $darkGrayishViolet;
            font-size: 0.9rem;
        }
    }
}

footer{
    position: absolute;
    top: 800px;
    width: 100%;
    text-align: center;
    a, a:visited{
        color: $lightMagenta;
        text-decoration: none;
    }
}

@media(max-width: 768px ){

    main{
        flex-direction: column;
        border: 1px solid black;
        width: 100%;
        top: 50px;
        #phone{
            width: 90%;
            #phoneBody{
                .leftMessageContainer{
                    .leftMessage{
                        font-size: 11px;
                    }
                }
                .rightMessageContainer{
                    .rightMessage{
                        font-size: 11px;
                    }
                }
            }
            #userInputContainer{
                bottom: 34%;
                width: 80%;
                left: 50%;
                transform: translateX(-51%);
            }
        }
        #appDetails{
            margin-top: 100px;
        }
    }

    footer{
        top: 1000px;
    }
}